* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

main {
    width: 82.1rem;
    height: 38.6rem;
    margin: 12rem auto;
    display: flex;
    gap: 19.2rem;
}

.Modeldark {
    background-color: #121214;
    color: #FFF;
}

.time {
    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
    line-height: 14.8rem;
    width: 32.1rem;
    height: 11.7rem;
    margin-top: 6.1rem;
}

.buttonTime {
    width: 31.2rem;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-top: 4.8rem;
}

.sons {
    width: 30.8rem;
    height: 33.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.card {
    width: 13.8rem;
    height: 15.2rem;
    background: #E1E1E6;
    border-radius: 24px;
    
}

.card img {
    margin: 4.5rem;
}

.select {
    background-color: #02799D;
}


.cardBlack {
    background-color: #29292E;
}

.selectDark {
    background-color: #0A3442;
}



@media (max-width: 700px) {
    main {
        display: grid;
        margin: 3rem 18rem;
    }
}

.mode {
    width: 4.4rem;
    height: 4.4rem;
}

.hide {
    display: none;
}






